<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="Ipo"
         name="Ipogenerator"
         point="citlab.core.generators"> 
         
      <Generator
            Algorithm="aetg Algorithm"
            GeneratorPrototype="citlab.aetggenerator.AetgGenerator"
            Name="Aetg like"
            suppor_gen_properties="false"
            support_constraints="false"
            support_seeds="true"
            support_testgoals="false">
      </Generator>
   </extension>

</plugin>
