<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

    <extension
            point="org.eclipse.ui.editors">
        <editor
            class="citlab.model.ui.CitLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.XtextEditor"
            contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
            default="true"
            extensions="citl"
            id="citlab.model.CitL"
            name="CitL Editor">
        </editor>
    </extension>
    <extension
        point="org.eclipse.ui.handlers">
        <handler
            class="citlab.model.ui.CitLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclarationHandler"
            commandId="org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclaration">
            <activeWhen>
                <reference
                    definitionId="citlab.model.CitL.Editor.opened">
                </reference>
            </activeWhen>
        </handler>
        <handler
            class="citlab.model.ui.CitLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.handler.ValidateActionHandler"
            commandId="citlab.model.CitL.validate">
         <activeWhen>
            <reference
                    definitionId="citlab.model.CitL.Editor.opened">
            </reference>
         </activeWhen>
      </handler>
    </extension>
    <extension point="org.eclipse.core.expressions.definitions">
        <definition id="citlab.model.CitL.Editor.opened">
            <and>
                <reference definitionId="isActiveEditorAnInstanceOfXtextEditor"/>
                <with variable="activeEditor">
                    <test property="org.eclipse.xtext.ui.editor.XtextEditor.languageName" 
                        value="citlab.model.CitL" 
                        forcePluginActivation="true"/>
                </with>        
            </and>
        </definition>
    </extension>
    <extension
            point="org.eclipse.ui.preferencePages">
        <page
            class="citlab.model.ui.CitLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
            id="citlab.model.CitL"
            name="CitL">
            <keywordReference id="citlab.model.ui.keyword_CitL"/>
        </page>
        <page
            category="citlab.model.CitL"
            class="citlab.model.ui.CitLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.syntaxcoloring.SyntaxColoringPreferencePage"
            id="citlab.model.CitL.coloring"
            name="Syntax Coloring">
            <keywordReference id="citlab.model.ui.keyword_CitL"/>
        </page>
        <page
            category="citlab.model.CitL"
            class="citlab.model.ui.CitLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.templates.XtextTemplatePreferencePage"
            id="citlab.model.CitL.templates"
            name="Templates">
            <keywordReference id="citlab.model.ui.keyword_CitL"/>
        </page>
    </extension>
    <extension
            point="org.eclipse.ui.propertyPages">
        <page
            class="citlab.model.ui.CitLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
            id="citlab.model.CitL"
            name="CitL">
            <keywordReference id="citlab.model.ui.keyword_CitL"/>
            <enabledWhen>
	            <adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
	        <filter name="projectNature" value="org.eclipse.xtext.ui.shared.xtextNature"/>
        </page>
    </extension>
    <extension
        point="org.eclipse.ui.keywords">
        <keyword
            id="citlab.model.ui.keyword_CitL"
            label="CitL"/>
    </extension>
    <extension
         point="org.eclipse.ui.commands">
      <command
            description="Trigger expensive validation"
            id="citlab.model.CitL.validate"
            name="Validate">
      </command>
    </extension>
    <extension point="org.eclipse.ui.menus">
        <menuContribution
            locationURI="popup:#TextEditorContext?after=group.edit">
             <command
                 commandId="citlab.model.CitL.validate"
                 style="push"
                 tooltip="Trigger expensive validation">
            <visibleWhen checkEnabled="false">
                <reference
                    definitionId="citlab.model.CitL.Editor.opened">
                </reference>
            </visibleWhen>
         </command>  
         </menuContribution>
    </extension>
    <extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="popup:#TextEditorContext?endof=group.find">
			<command commandId="org.eclipse.xtext.ui.editor.FindReferences">
				<visibleWhen checkEnabled="false">
                	<reference definitionId="citlab.model.CitL.Editor.opened">
                	</reference>
            	</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.handlers">
	    <handler
            class="citlab.model.ui.CitLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.findrefs.FindReferencesHandler"
            commandId="org.eclipse.xtext.ui.editor.FindReferences">
            <activeWhen>
                <reference
                    definitionId="citlab.model.CitL.Editor.opened">
                </reference>
            </activeWhen>
        </handler>
    </extension>   

<!-- adding resource factories -->

	<extension
		point="org.eclipse.emf.ecore.extension_parser">
		<parser
			class="citlab.model.ui.CitLExecutableExtensionFactory:org.eclipse.xtext.resource.IResourceFactory"
			type="citl">
		</parser>
	</extension>
	<extension point="org.eclipse.xtext.extension_resourceServiceProvider">
        <resourceServiceProvider
            class="citlab.model.ui.CitLExecutableExtensionFactory:org.eclipse.xtext.ui.resource.IResourceUIServiceProvider"
            uriExtension="citl">
        </resourceServiceProvider>
    </extension>


    <!-- marker definitions for citlab.model.CitL -->
    <extension
            id="citl.check.fast"
            name="CitL Problem"
            point="org.eclipse.core.resources.markers">
        <super type="org.eclipse.xtext.ui.check.fast"/>
        <persistent value="true"/>
    </extension>
    <extension
            id="citl.check.normal"
            name="CitL Problem"
            point="org.eclipse.core.resources.markers">
        <super type="org.eclipse.xtext.ui.check.normal"/>
        <persistent value="true"/>
    </extension>
    <extension
            id="citl.check.expensive"
            name="CitL Problem"
            point="org.eclipse.core.resources.markers">
        <super type="org.eclipse.xtext.ui.check.expensive"/>
        <persistent value="true"/>
    </extension>
<!--
   <extension
         point="org.eclipse.xtext.builder.participant">
      <participant
            class="citlab.model.ui.CitLExecutableExtensionFactory:org.eclipse.xtext.builder.IXtextBuilderParticipant">
      </participant>
   </extension> -->
   <extension
            point="org.eclipse.ui.preferencePages">
        <page
            category="citlab.model.CitL"
            class="citlab.model.ui.CitLExecutableExtensionFactory:org.eclipse.xtext.builder.preferences.BuilderPreferencePage"
            id="citlab.model.CitL.compiler.preferencePage"
            name="Compiler">
            <keywordReference id="citlab.model.ui.keyword_CitL"/>
        </page>
    </extension>
    <extension
            point="org.eclipse.ui.propertyPages">
        <page
            category="citlab.model.CitL"
            class="citlab.model.ui.CitLExecutableExtensionFactory:org.eclipse.xtext.builder.preferences.BuilderPreferencePage"
            id="citlab.model.CitL.compiler.propertyPage"
            name="Compiler">
            <keywordReference id="citlab.model.ui.keyword_CitL"/>
            <enabledWhen>
	            <adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
	        <filter name="projectNature" value="org.eclipse.xtext.ui.shared.xtextNature"/>
        </page>
    </extension>

	<!-- Quick Outline -->
	<extension
		point="org.eclipse.ui.handlers">
		<handler 
			class="citlab.model.ui.CitLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.outline.quickoutline.ShowQuickOutlineActionHandler"
			commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline">
			<activeWhen>
				<reference
					definitionId="citlab.model.CitL.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
	<extension
		point="org.eclipse.ui.commands">
		<command
			description="Open the quick outline."
			id="org.eclipse.xtext.ui.editor.outline.QuickOutline"
			name="Quick Outline">
		</command>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:#TextEditorContext?after=group.open">
			<command commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline"
				style="push"
				tooltip="Open Quick Outline">
				<visibleWhen checkEnabled="false">
					<reference definitionId="citlab.model.CitL.Editor.opened"/>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
    <!-- quickfix marker resolution generator for citlab.model.CitL -->
    <extension
            point="org.eclipse.ui.ide.markerResolution">
        <markerResolutionGenerator
            class="citlab.model.ui.CitLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
            markerType="citlab.model.ui.citl.check.fast">
            <attribute
                name="FIXABLE_KEY"
                value="true">
            </attribute>
        </markerResolutionGenerator>
        <markerResolutionGenerator
            class="citlab.model.ui.CitLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
            markerType="citlab.model.ui.citl.check.normal">
            <attribute
                name="FIXABLE_KEY"
                value="true">
            </attribute>
        </markerResolutionGenerator>
        <markerResolutionGenerator
            class="citlab.model.ui.CitLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
            markerType="citlab.model.ui.citl.check.expensive">
            <attribute
                name="FIXABLE_KEY"
                value="true">
            </attribute>
        </markerResolutionGenerator>
    </extension>

   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="citlab.model.ui.CitLwizardCat"
            class="citlab.model.ui.CitLExecutableExtensionFactory:citlab.model.ui.wizard.CitLNewProjectWizard"
            descriptionImage="img/wizard.png"
            finalPerspective="org.eclipse.ui.resourcePerspective"
            icon="img/wizard.png"
            id="citlab.model.ui.wizard.CitLNewProjectWizard"
            name="CitL Project"
            preferredPerspectives="org.eclipse.ui.resourcePerspective"
            project="true">
      </wizard>
      <category
            id="citlab.model.ui.CitLwizardCat"
            name="CitLab">
      </category>
   </extension>
   	<!-- Rename Refactoring -->
	<extension point="org.eclipse.ui.handlers">
		<handler 
			class="citlab.model.ui.CitLExecutableExtensionFactory:org.eclipse.xtext.ui.refactoring.ui.IRenameElementHandler"
			commandId="org.eclipse.xtext.ui.refactoring.RenameElement">
			<activeWhen>
				<reference
					definitionId="citlab.model.CitL.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
	 
   <extension
id="toolbar:org.eclipse.ui.workbench.file?after=newWizardDropDown"
point="org.eclipse.ui.menus">
<menuContribution
locationURI="toolbar:org.eclipse.ui.workbench.file">
<command
commandId="org.eclipse.ui.newWizard">
<parameter
name="newWizardId"
value="citlab.model.ui.wizard.CitLNewProjectWizard">
</parameter>
</command>
</menuContribution>
</extension>
   
    <extension point="org.eclipse.ui.menus">
         <menuContribution
            locationURI="popup:#TextEditorContext?after=group.edit">
         <command commandId="org.eclipse.xtext.ui.refactoring.RenameElement"
               style="push">
            <visibleWhen checkEnabled="false">
               <reference
                     definitionId="citlab.model.CitL.Editor.opened">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension point="org.eclipse.ui.preferencePages">
	    <page
	        category="citlab.model.CitL"
	        class="citlab.model.ui.CitLExecutableExtensionFactory:org.eclipse.xtext.ui.refactoring.ui.RefactoringPreferencePage"
	        id="citlab.model.CitL.refactoring"
	        name="Refactoring">
	        <keywordReference id="citlab.model.ui.keyword_CitL"/>
	    </page>
	</extension>

  <extension point="org.eclipse.compare.contentViewers">
    <viewer id="citlab.model.CitL.compare.contentViewers"
            class="citlab.model.ui.CitLExecutableExtensionFactory:org.eclipse.xtext.ui.compare.InjectableViewerCreator"
            extensions="citl">
    </viewer>
  </extension>
  <extension point="org.eclipse.compare.contentMergeViewers">
    <viewer id="citlab.model.CitL.compare.contentMergeViewers"
            class="citlab.model.ui.CitLExecutableExtensionFactory:org.eclipse.xtext.ui.compare.InjectableViewerCreator"
            extensions="citl" label="CitL Compare">
     </viewer>
  </extension>
  <extension point="org.eclipse.ui.editors.documentProviders">
    <provider id="citlab.model.CitL.editors.documentProviders"
            class="citlab.model.ui.CitLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.model.XtextDocumentProvider"
            extensions="citl">
    </provider>
  </extension>

</plugin>
