<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="toCasa"
         point="citlab.core.coders">
      <Coder
            CoderPrototype="citlab.CoderToCasa.ToCasaExporter"
            Name="CASA Exporter"
            OtherToolLanguage="to C.A.S.A.">
      </Coder>
   </extension>
   <extension
         point="citlab.core.generators">
      <Generator
            Algorithm="CASA "
            GeneratorPrototype="citlab.CoderToCasa.TSGeneratorByCasa"
            Name="CASA"
            suppor_gen_properties="true"
            support_constraints="true"
            support_seeds="false"
            support_testgoals="false">
      </Generator>
   </extension>

</plugin>
