<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="citlab.core.generators">
      <Generator
            Algorithm="ATGT"
            GeneratorPrototype="citlab.atgtsmt.GeneratorBySMT"
            Name="ATGT"
            suppor_gen_properties="true"
            support_constraints="true"
            support_seeds="false"
            support_testgoals="false">
      </Generator>
   </extension>

</plugin>
