<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="citlab.core.TestSuiteExporters">
      <TestSuiteExporter
            ExporterName="Select/create csv file and generate Junit template"
            FileExtension="*.csv"
            ITSPrototype="citlab.junitexporter.JUnitExporter">
      </TestSuiteExporter>
   </extension>
</plugin>