<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="citlab.core.importers">
      <Importer
            ImporterPrototype="citlab.splotimporter.SplotImporter"
            Name="SPLOT Importer (Boolean)"
            OtherToolLanguage="SPLOT">
         <Extensions
               Extension="xml">
         </Extensions>
      </Importer>
   </extension>

</plugin>
